<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Chau.Thai/ideaProject2/src/test/java/trustManager/CleanupComputer.java"><classes><class name="trustManager.CleanupComputer"><methods><include name="i_want_to_clean_up"/></methods></class></classes></test></suite>