<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <Property name="filename">./logs</Property>
    </properties>
    <Appenders>
        //this line mean we appender (add them vao) framework besides console
        <RollingFile name="file"
                     fileName="${filename}/logdemo.log"
                     filePattern="${filename}/logdemo-%d{HH-mm-ss-SSS.log">
            <PatternLayout>
                //this for the layout of log file
                <pattern>%d{HH:mm:ss:SSS} [%t] %-5level %Logger{36} - %msg%n</pattern>
            </PatternLayout>
            //this line mean if it reach 1000 KB it will trigger another log folder
            <SizeBasedTriggeringPolicy size="1000 KB"/>
        </RollingFile>
        <Console name="ABC" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %Logger{36} - %msg%n "/>
        </Console>
    </Appenders>
    //this line mean I want to have log on a perticular project name
    <Loggers>
        <Logger name="CleanupComputer" level="error" additivity="false">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="file"/>
        </Logger>
        //level from low to high: fatal-error-warn-info-debug-trace-all
        //if I choose level 'info': then log.warn,log.error,log.fatal will print out to all projects
        //if you choose all then all other level will be logged
        //because it is root
        //So in this xml, warn,error,fatal will be all projects and error,fatal will be on cleanupTempFile projedt
        <Root level="info">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>